$family-sans-serif: 'Rubik';

$font-size-sm: 18px;
$font-size: 20px;
$font-size-lg: 30px;

$white:  #ffffff;
$dark:   #333333;
$blue:   #3273dc;
$navy:   #143354;
$maroon: #aa5c5c;
$olive:  #3d9970;
$orange: #fb9224;

$birds:   url('./images/birds.png');
$church:  url('./images/church.png');
$floral:  url('./images/floral.png');
$gems:    url('./images/gems.png');
$map:     url('./images/map.png');
$polonez: url('./images/polonez.png');