$family-sans-serif: 'Rubik';

$font-size-sm: 16px;
$font-size: 18px;
$font-size-lg: 25px;

$white:  #ffffff;
$dark:   #222222;
$blue:   #245fbe;
$navy:   #143354;
$maroon: #732222;
$olive:  #227651;
$orange: #de8400;

$floral:  url('./images/floral.png');
$gems:    url('./images/gems.png');
$map:     url('./images/map.png');

.u-hidden {
  display: none;
}
