$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";

@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/brands';

@import 'variables';

@import '~bulma';

* {
  transition: background 0.25s, font-size 0.25s;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size;
}

html, body, #root {
  height: 100%; min-height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 10px 0 5px 0;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.75em;
}

ul {
  margin: 5px 35px;
  list-style-type: disc;
}

ol {
  margin: 5px 35px;
}

li {
  margin: 0 0 5px 0;
}

strong {
  color: $white;
}

a, button {
  background: $white;
  padding: 1px 5px;
  border: 3px solid #ffffff;
  border-radius: 3px;

  &:hover {
    background: rgba($white, 0.75);
  }
}

button {
  font-size: $font-size; 
}
