@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato&display=swap');

$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";

@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/duotone';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';

@import '~bulma';

@import 'variables';
@import 'links';

html {
  background: #333333;
  font-family: 'Lato', sans-serif;
  font-size: $font-size;
}

html, body, #root {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
}
