@import '~styles/variables';

.app__body {
  padding: 0 0 0 250px;
}

.app__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  
  display: flex;
  flex-direction: column;
  
  &--open {
    left: 0;
  }
  &__link, &__toggle {
    margin: 0 0 10px 0;
    height: 45px;
    font-size: $font-size-lg;
    font-weight: bold;
  }
}
