@import '~styles/variables';

.app__content {
  padding: 15px 15px 50px 20px;
  margin-left: 70px;
}

.app__navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  
  width: 70px;
  padding: 25px 0 25px 25px;
  
  display: flex;
  flex-direction: column;
  
  z-index: 1000;
  
  &__link i {
    font-size: $font-size-lg;
  }
  &__toggle i {
    font-size: $font-size-lg;
  }
  &__link, &__toggle {
    margin: 0 0 10px 0;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
        
    i {
      line-height: 1.6;
    }
  }
  
  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;
    
    a {
      flex-grow: 1;
      text-align: center;
      margin: 5px;
      
      i {
        font-size: $font-size-lg !important;
      }
    }
  }
  
  &__link--has-children {
    display: flex;
    flex-direction: column;
    
    padding: 5px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    
    height: auto;

    a {
      margin: 5px 0 0 0;
      text-align: center;
      padding: 1px 0;
    }
  }
}
