@import '~styles/variables';

.app__content {
  padding: 15px 25px 0 25px;
  left: 70px;
  transition: 0.25s;
}

.app__navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 77px;
  
  width: 70px;
  padding: 25px 0 25px 25px;
  transition: 0.25s;
  
  display: flex;
  flex-direction: column;
  
  z-index: 1000;
  
  &--open {
    @media only screen and (min-width: 700px) {
      width: 200px;
      
      & + .app__content {
        left: 200px;
      }
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
      padding: 25px;
      
      & + .app__content {
        left: 100%;
      }
    }
    
    .app__navigation__link {
      a {
        font-size: $font-size-lg;
      }
      strong {
        line-height: 1.6;
      }
    }
  }
  
  &__link, &__toggle {
    margin: 0 0 10px 0;
    height: 45px;
    font-size: $font-size-lg;
    font-weight: bold;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    transition: 0.25s;
  }
  
  &__link--has-children {
    display: flex;
    flex-direction: column;
    
    padding: 5px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    
    height: auto;
    
    strong {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.175;
    }
    a {
      margin: 5px 0 0 0;
      font-size: 0;
    }
  }
}
