@import '~styles/variables';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  &__content {
    flex-grow: 1;
    padding: 0 25px;
  }

  &__header, &__content, &__footer {
    position: relative;
    color: $white;
    z-index: 100;
  }

  &.dark {
    background-image: $birds;
    background-color: $dark;
    a { color: $dark; }
  }

  &.blue {
    background-image: $church;
    background-color: $blue;
    a { color: $blue; }
  }

  &.navy {
    background-image: $polonez;
    background-color: $navy;
    a { color: $navy; }
  }

  &.maroon {
    background-image: $map;
    background-color: $maroon;
    a { color: $maroon; }
  }

  &.olive {
    background-image: $gems;
    background-color: $olive;
    a { color: $olive; }
  }

  &.orange {
    background-image: $floral;
    background-color: $orange;
    a { color: $orange; }
  }
}
