@import '~styles/variables';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  &__content {
    padding: 15px 25px 0 25px;
  }

  &__content, &__footer {
    position: relative;
    color: $white;
    z-index: 100;
  }

  &.dark {
    background: $gems, linear-gradient(45deg, $dark 0%, $navy 100%);
    a, button { color: $navy; }
  }

  &.blue {
    background: $gems, linear-gradient(45deg, $blue 0%, $olive 100%);
    a, button { color: $blue; }
  }

  &.navy {
    background: $gems, linear-gradient(45deg, $navy 0%, $blue 100%);
    a, button { color: $blue; }
  }

  &.maroon {
    background: $gems, linear-gradient(45deg, $maroon 0%, $dark 100%);
    a, button { color: $maroon; }
  }

  &.orange {
    background: $gems, linear-gradient(45deg, $maroon 0%, $orange 100%);
    a, button { color: $orange; }
  }
}
