@import '~styles/variables';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./images/gems.png');
  min-height: 100%;

  &__content {
    flex-grow: 1;
    padding: 0 25px;
    color: white;
  }

  &__header, &__content, &__footer {
    position: relative;
    z-index: 100;
  }

  &.dark {
    background-color: $dark;
    a { color: $dark; }
  }

  &.navy {
    background-color: $navy;
    a { color: $navy; }
  }

  &.red {
    background-color: $red;
    a { color: $red; }
  }

  &.maroon {
    background-color: $maroon;
    a { color: $maroon; }
  }

  &.olive {
    background-color: $olive;
    a { color: $olive; }
  }

  &.orange {
    background-color: $orange;
    a { color: $orange; }
  }
}
